html {
	background-color:#f2f2f2;
	height:100%;
}

body {
	height:100%;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-image: url("../img/stanga_bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.content {
	display:block;
	height:100%;
	padding: 0;
	position:relative;
}

.sizeFull {
	display: block;
	padding: 0;
	width: 100%;
}

.centerwrap *{
	display: table;
	margin: 0 auto;
}

.logo {
	position: absolute;
	min-height: 112px;
	min-width: 500px;
	background-image: url("../img/logo_big_w.png");
	background-position: center;
	background-repeat: no-repeat;
	top: 35%;
	left: 0px;
}

.alignbottom {
	position: absolute;
	bottom: 5%;
	left: 0px;
}

@media (max-width:768px) {
	.logo {
		min-height: 196px;
		min-width: 196px;
		background-image: url("../img/logo_small_w.png");
		top: 20%;
	}
}